body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login{
    width: 300px;
    margin: 25px auto;
    padding: 50px;
    background: rgba(12, 148, 207, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px #1e05051a;
}
.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
a{
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #02121a;
    text-decoration: none;
}
#submit {
    background-color: #02121a;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
}
#submit:hover {
    background-color: #014f86;
}

.register{
    width: 300px;
    margin: 25px auto;
    padding: 50px;
    background: rgba(12, 148, 207, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px #1e05051a;
}
.register input[type="text"],input[type="password"],input[type="email"],input[type="tel"],input[type="date"] {
    width: 100%;
    height: 10px;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.forgot{
    width: 300px;
    margin: 25px auto;
    padding: 50px;
    background: rgba(12, 148, 207, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px #1e05051a;
}
.forgot input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.forgot h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.contact{
    width: 300px;
    margin: 25px auto;
    padding: 50px;
    background: rgba(12, 148, 207, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px #1e05051a;
}
.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fffbfb;
    border: 2px solid #180909;
    background-color: #02121a;
    border-radius: 10px;
}
